<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="show-entries">
                            <span>Exibir</span>
                            <select ng-change="mudarExibicao(opcao)" ng-model="opcao">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option>{{Funcionalidades.total}}</option>

                            </select>
                            <span>pesquisas por página</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="configuracao-datas">
                            <i>Data de inicio: </i>
                            <input type="date">
                            <br><i>Data final: </i>
                            <input type="date">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="search-box">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
                                <input type="text" class="form-control" placeholder="Buscar&hellip;" ng-model="criterioDeBusca">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Funcionalidade</th>
                        <th>N° De Vizualização</th>
                        <th>Tempo Na Página</th>
                        <th>Tempo Médio Na Página</th>
                        <th>Sessões</th>
                        <th>Duração Das Sessões</th>
                        <th>Média Das Sessões</th>
                        <th>Usuários</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-class="{'selecionado negrito': Funcionalidade.selecionado}" ng-repeat="Funcionalidade in Funcionalidades.registros | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
                        <td>{{Funcionalidade.funcionalidade}}</td>
                        <td>{{Funcionalidade.numeroDeVizualizacoes}}</td>
                        <td>{{Funcionalidade.tempoNaPagina}}</td>
                        <td>{{Funcionalidade.tempoMedioNaPagina}}</td>
                        <td>{{Funcionalidade.sessoes}}</td>
                        <td>{{Funcionalidade.duracaoDasSessoes}}</td>
                        <td>{{Funcionalidade.mediaDeSessoes}}</td>
                        <td>{{Funcionalidade.usuarios}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="clearfix">
                <div class="hint-text">Mostrando <b>{{Funcionalidades.paginaAtual + 1}}</b> de
                    <b>{{Funcionalidades.totalDePaginas}}</b> paginas
                </div>

                <div>
                    <ul class="pagination" ng-click="mudarDePagina(opcao)">
                        <li class="page-item"><button ng-click="paginaAnterior()" class="page-link">Anterior</button></li>
                        <li class="page-item"><button ng-click="proximaPagina()" class="page-link">Proxima</button></li>
                    </ul>
                </div>


            </div>
        </div>
    </div>
</div>